{% load static %}
<header id="header" class="fixed top-0 left-0 w-full bg-black shadow-md z-50">
    <div class="container mx-auto flex items-center justify-between py-2 px-6">
        <nav class="flex items-center justify-between w-full">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/STAClogo.png' %}" class="h-20" alt="STAC">
            </a>
            <div class="flex items-center">
                <!-- Toggler button -->
                <button class="navbar-toggler ml-auto p-2 text-neon-green focus:outline-none md:hidden" type="button" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation" onclick="toggleNavbar()">
                    <div class="animated-icon flex flex-col space-y-1">
                        <span class="block w-6 h-0.5 bg-neon-green"></span>
                        <span class="block w-6 h-0.5 bg-neon-green"></span>
                        <span class="block w-6 h-0.5 bg-neon-green"></span>
                    </div>
                </button>
                <!-- Navbar menu -->
                <div class="navbar-collapse md:flex items-center hidden" id="navbarDefault">
                    <ul class="navbar-nav flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 ml-auto">
                        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item {% if request.path == '/events/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'events' %}">Events</a>
                        </li>
                        <li class="nav-item {% if request.path == '/blog/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item {% if request.path == '/gallery/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'gallery' %}">Gallery</a>
                        </li>
                        <li class="nav-item {% if request.path == '/coreteam/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'coreteam' %}">Team</a>
                        </li>
                        <li class="nav-item {% if request.path == '/aboutus/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'aboutus' %}">About</a>
                        </li>
                        <li class="nav-item {% if request.path == '/achievements/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'achievements' %}">Achievements</a>
                        </li>
                        <li class="nav-item {% if request.path == '/highlights/' %}active{% endif %}">
                            <a class="nav-link hover:text-neon-green transition duration-300" href="{% url 'highlights' %}">Highlights</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<script>
    function toggleNavbar() {
        const navbarCollapse = document.getElementById('navbarDefault');
        navbarCollapse.classList.toggle('hidden');
    }
</script>
