{% extends "layout.html" %}
{% load static %}
{% block stylesheetsName %}
    <link rel="stylesheet" href="{% static 'styles_events.css' %}">
{% endblock %}

{% block content %}
<div class="event-list">
    {% for event in events %}
    <div class="event-section">
        <div class="event-image">
            <img src="{{ event.image.url }}" alt="Event Image">
        </div>
        <div class="event-content">
            <div class="event-title">{{ event.title }}</div>
            <div class="event-description">
                {{ event.description }}
                {% if event.full_description %}
                    <span class="content-hid" style="display: none;">{{ event.full_description }}</span>
                    <span class="show-more">Show More</span>
                {% endif %}
            </div>
            <div class="event-info">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-calendar">
                        <path d="M8 2v4"></path><path d="M16 2v4"></path><rect width="18" height="18" x="3" y="4" rx="2"></rect><path d="M3 10h18"></path>
                    </svg> 
                    {{ event.date }}
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clock">
                        <circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline>
                    </svg> 
                    {{ event.time }}
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pin">
                        <path d="M12 17v5"></path><path d="M9 10.76a2 2 0 0 1-1.11 1.79l-1.78.9A2 2 0 0 0 5 15.24V16a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-.76a2 2 0 0 0-1.11-1.79l-1.78-.9A2 2 0 0 1 15 10.76V7a1 1 0 0 1 1-1 2 2 0 0 0 0-4H8a2 2 0 0 0 0 4 1 1 0 0 1 1 1z"></path>
                    </svg> 
                    {{ event.location }}
                </span>
            </div>
            <div class="event-register">
                <a href="{{ event.register_link }}" target="_blank">
                    <button>Register</button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const showMoreButtons = document.querySelectorAll('.show-more');

        showMoreButtons.forEach(function(button) {
            button.addEventListener('click', function () {
                const contentHid = this.previousElementSibling;

                if (contentHid.style.display === 'none' || contentHid.style.display === '') {
                    contentHid.style.display = 'inline';
                    this.textContent = 'Show Less';
                } else {
                    contentHid.style.display = 'none';
                    this.textContent = 'Show More';
                }
            });
        });
    });
</script>
{% endblock %}
