body {
    margin: 0;
  }
main{
    width: 100%;
}
.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #39ff14;
}

.navbar-toggler .animated-icon span {
    background-color: #39ff14;
}

footer {
    width: 100%;
    position: relative;
}
