/* base */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
}

#main-content {
    max-width: 1200px;
    margin: 0 auto;
}


/* navbar */
.neon-glow {
    filter: drop-shadow(0 0 10px #39ff14);
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #39ff14;
}

.navbar-toggler .animated-icon span {
    background-color: #39ff14;
}

