{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAC,IIT Mandi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    {% tailwind_css %}
    {% block stylesheetsName %}{% endblock stylesheetsName %}
</head>
<body>
    {% include 'website/navbar.html' %}
    <main>
    {% block content %}
    
    {% endblock %}
    </main>
    {% include 'website/footer.html' %}
    {% comment %} 
    <!-- Vanta.js script for the dynamic background effect -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.clouds.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        VANTA.CLOUDS({
            el: "body",
            mouseControls: true,
            touchControls: true,
            gyroControls: false,
            minHeight: 200.00,
            minWidth: 200.00,
            skyColor: 0x1b1f5a,        
            cloudColor: 0x232c61,      
            cloudShadowColor: 0x000000, 
            sunColor: 0x000000,         
            sunGlareColor: 0x000000,    
            speed: 0.30,                
            overlap: 0.80,              
        });
    });
    </script> 
    {% endcomment %}
</body>
</html>
