{% extends "layout.html" %}
{% load static %}
{% block stylesheetsName %}
<link rel="stylesheet" href="{% static 'styles_achievements.css' %}">
{% endblock %}

{% block content %}
<div class="achievements-container">
    <div class="center-circle">
        <h2 id="central-title"></h2>
        <p id="central-description"></p>
        <p class="prestige">Our Prestige</p>
        <p id="central-tag" class="tag"></p>
    </div>
    <div class="orbit">
        {% for achievement in achievements %}
        <div class="circle" data-id="{{ achievement.id }}" onclick="showDetails({{ achievement.id }})">
            <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}">
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function showDetails(id) {
        const centralCircle = document.querySelector('.center-circle');
        const achievementData = {
            {% for achievement in achievements %}
            {{ achievement.id }}: {
                title: "{{ achievement.title }}",
                description: "{{ achievement.description }}",
                tag: "{{ achievement.tag }}",
                image: "{{ achievement.image.url }}",
            },
            {% endfor %}
        };

        const selectedAchievement = achievementData[id];
        if (selectedAchievement) {
            centralCircle.querySelector('#central-title').textContent = selectedAchievement.title;
            centralCircle.querySelector('#central-description').textContent = selectedAchievement.description;
            centralCircle.querySelector('#central-tag').textContent = selectedAchievement.tag;
            centralCircle.style.backgroundImage = `url('${selectedAchievement.image}')`;
            centralCircle.style.opacity = "0.7";
            centralCircle.querySelector('.prestige').style.display = 'none';

        }
    }
</script>
{% endblock %}
