{% extends "layout.html" %}
{% load static %}
{% block stylesheetsName %}
<link rel="stylesheet" href="{% static 'styles_achievements.css' %}">
{% endblock %}

{% block content %}
<div class="achievements-container">
    <div class="center-circle">
        <h2>{{ central_achievement.title }}</h2>
        <img src="{{ central_achievement.image.url }}" alt="{{ central_achievement.title }}">
        <p>{{ central_achievement.description }}</p>
        <p>Date: {{ central_achievement.date|date:"F j, Y" }}</p>
        {% if central_achievement.tag %}
        <p>Tag: {{ central_achievement.tag }}</p>
        {% endif %}
    </div>
    <div class="orbit">
        {% for achievement in achievements %}
        <div class="circle" data-id="{{ achievement.id }}" onclick="showDetails('{{ achievement.id }}')">
            <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}">
            <h3>{{ achievement.title }}</h3>
            <div id="details-{{ achievement.id }}" class="details-popup">
                <div class="details-content">
                    <span class="close-btn" onclick="closeDetails('{{ achievement.id }}')">&times;</span>
                    <img src="{{ achievement.image.url }}" alt="{{ achievement.title }}">
                    <h2>{{ achievement.title }}</h2>
                    <p>{{ achievement.description }}</p>
                    <p>Date: {{ achievement.date|date:"F j, Y" }}</p>
                    {% if achievement.tag %}
                    <p>Tag: {{ achievement.tag }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function showDetails(id) {
        const centralCircle = document.querySelector('.center-circle');
        const achievement = document.getElementById('details-' + id);

        // Update central circle with selected achievement details
        centralCircle.querySelector('h2').textContent = achievement.querySelector('h2').textContent;
        centralCircle.querySelector('img').src = achievement.querySelector('img').src;
        centralCircle.querySelector('p').textContent = achievement.querySelector('p').textContent;
        centralCircle.querySelectorAll('p')[1].textContent = 'Date: ' + achievement.querySelectorAll('p')[1].textContent;
        
        const tag = achievement.querySelector('p:nth-child(4)');
        if (tag) {
            centralCircle.querySelector('p:nth-child(4)').textContent = 'Tag: ' + tag.textContent;
        } else {
            centralCircle.querySelector('p:nth-child(4)').textContent = '';
        }

        // Display the details popup for the selected achievement
        achievement.style.display = 'block';
    }

    function closeDetails(id) {
        document.getElementById('details-' + id).style.display = 'none';
    }
</script>
{% endblock %}
